html, body{
    height: 100%;
    font-size: 1rem;
    font-family: 'Blackadder ITC TT';
    background-color: black;
}

.navbar-custom{
    background-color: black;
     color:maroon
}
.navbar-text{
   color:maroon
}
 
h1{
    color: white;
}

div > img {
    border-radius: 5%;
}

h1.title-text{
    font-size: 60px
}

.dropdown-toggle:after {
    display: none;
   }
   

