html, body{
    height: 100%;
    font-size: 1rem;
    font-family: 'Blackadder ITC TT';
    background: rgb(0, 0, 0);
}

.navbar-custom{
    background-color: black;
     color:maroon
}
.navbar-text{
   color:maroon
}
 
h1, h3{
    color: white;
}

div > img {
    border-radius: 5%;
}

h1.title-text{
    font-size: 60px
}

.dropdown-toggle:after {
    display: none;
   }

#limaroon{
    color:maroon;
    font-size: 19px;
}

#butmar{
    color:maroon; 
    background-color:maroon; 
    border-color:maroon;
}

.marbox{
    border-style: solid ; 
    border-color: maroon; 
    border-radius: 12px; 
    color: white;
}

footer{
    background-color: black; 
    color: white;
}

@media only screen and (max-width: 500px) {
    .marbox{
        border-style: none;
    }
  }

  @media only screen and (max-width: 500px) {
    .smallh1{
        color: maroon;
    }
  }

  .mar{
      color: maroon;
  }

  body, html {
    height: 100%;
  }
  
  .parallax {
    /* The image used */
    background-image: url("https://th.bing.com/th/id/OIP.wiylotIb0lX8NOz1jltfRwHaEK?w=278&h=180&c=7&r=0&o=5&pid=1.7");

  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .lnspace{
      letter-spacing: 4px;
  }